@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
* { padding: 0; margin: 0; }
body { background: #F2F4F8; font-family: 'Open Sans', sans-serif; letter-spacing: 1px;}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

main {
  flex: 1;
}

header {
    text-align: justify;
    text-transform: none;
    padding: .2em 3em .2em 3em;
    background: #177BBB;
    color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
 
header > div,
header > div::before,
header nav,
header > div h1 {
    display: block;
    vertical-align: middle;
    text-align: center;
    height: auto;
}

header nav {
  padding-bottom: .2em;
}
 
header > div h1 {
    font-size: 1.5em;
}
 
header nav a {
    padding: 0 0.3em 0 0.3em;
    white-space: nowrap;
    color: #FBF7F0;
    text-decoration: none;
    font-weight: 400;
    opacity: 0.8;
    transition: opacity .2s ease-in-out;

}

header nav a:hover, .active {
  color: #FBF7F0;
  opacity: 1;
}
 
header nav a:last-child {
    padding-right: 0;
}

header nav a:first-child {
    padding-left: 0;
}

small {
  font-size: 1em;
}

.bg {
  background: #F2F4F8;
  padding-top: 1em;
  padding-bottom: 2em;
}

.bg2{
  background: #e1e6ef;
  padding-top: 1em;
  padding-bottom: 2em;
}

#chart-area {
  max-width: 25px;
  max-height: 25px;
}

.peity {
  display: inline-block;
  margin-left: .2em;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #788288;
  width: 960px;
  margin: 0 auto 0 auto;
}

.Grid-cell {
  flex-grow: 1;
  /*min-width:25%;*/
  min-width:auto;
  text-align: center;
  padding: 1em .5em 0 .5em;
}

.Grid-cell > div {
  display: flex;
  align-items: middle;
  flex-direction: column;
  padding: 1em;
  border-radius: 5px;
  font-weight: 300;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}

.h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.h2 > svg {
  position: relative;
  top: 2px;
}

.Per {
  display: flex;
  align-items: middle;
}

.Per > div {
  min-width: 25%;
}

.Per > div > span {
  display: block;
}

p {
  color: #788288;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

@media screen and (max-width:980px){

  .Grid {
    width: auto;
  }

}

@media screen and (max-width: 720px){

    .Per {
      display: inline-block;
    }

    .Per > div {
      display: inline-block;
    }
     
}

@media screen and (max-width: 460px){
    
    .Per > div {
      display: block;
      margin-bottom: 1em;
    }

    .Per > div:last-of-type {
      margin-bottom: 0;
    }
     
}
