<Files .htaccess>
  order allow,deny
  deny from all
</Files>

<IfModule mod_rewrite.c>
  Options       +FollowSymLinks -MultiViews

  RewriteEngine On
  RewriteBase   /

  # Redirect /user|team/id
  RewriteCond   %{REQUEST_FILENAME} !-f
  RewriteCond   %{REQUEST_FILENAME} !-d
  RewriteRule   ^user/([A-Za-z0-9-]+)/?$ /user.php?id=$1 [NC,L] # Process users
  RewriteRule   ^team/([A-Za-z0-9-]+)/?$ /team.php?teamid=$1 [NC,L] # Process teams

  # RewriteCond %{REQUEST_FILENAME} !-f
  # RewriteRule   . / [NC,L,R=301] #Redirect 404 urls to index
</IfModule>

<IfModule mod_expires.c>
  # ExpiresActive On
  # ExpiresByType text/css          "access plus 1 month"
  # ExpiresByType text/x-javascript "access plus 1 month"
  # ExpiresByType image/x-icon      "access plus 1 year"
  # ExpiresByType font/ttf          "access plus 1 month"
  # ExpiresByType font/woff         "access plus 1 month"
</IfModule>

ErrorDocument 400 /error/400.php
ErrorDocument 401 /error/401.php
ErrorDocument 403 /error/403.php
ErrorDocument 404 /error/404.php
ErrorDocument 500 /error/500.php
ErrorDocument 503 /error/503.php
ErrorDocument 504 /error/504.php
