<IfModule mod_rewrite.c>
    Options +FollowSymLinks -MultiViews

    RewriteEngine On
    RewriteBase /

    # Redirect /user/id
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^user/(([^/]*)$) /user.php?id=$1 [L]
    RewriteRule ^team/(([^/]*)$) /team.php?teamid=$1 [L]
</IfModule>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . / [L,R=302]

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/css          "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType image/x-icon      "access plus 1 year"
ExpiresByType font/ttf          "access plus 1 month"
ExpiresByType font/woff         "access plus 1 month"
</IfModule>
